<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>
Throughout the years I fiddled around with a lot of different things. I always try to not only focus one thing but rather on putting something in context and combining different elements. I have so many interests, it's really hard to make a final comittment. Meanwhile I founded a Keyboard Shop in autumn 2017 together with a friend. I am confident all my current skills can contribute to this project. Not only putting together hardware, but also creating an digital envirment that enables a profitable, successful buisiness. 
</div>