/*
 * Global Variables
 */

// Google font import
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,400,400italic|Roboto+Mono);
@import url('https://fonts.googleapis.com/css?family=Inria+Serif|Raleway|Source+Sans+Pro&display=swap');

// Custom variables

// Spacing
//
// Control the default styling of most Bootstrap elements by modifying these
// variables. Mostly focused on spacing.

$spacer:                     1rem !default;
$spacer-x:                   $spacer !default;
$spacer-y:                   $spacer !default;
$border-width:               .0625rem !default;

// Typography
//
// Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif:     "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-serif:          Georgia, "Times New Roman", Times, serif !default;
$font-family-monospace:      "Roboto Mono", "Courier New", monospace !default;
$font-family-base:           $font-family-sans-serif !default;

// Pixel value used to responsively scale all typography. Applied to the `<html>` element.
$font-size-root:             16px !default;

$font-size-base:             $font-size-root !default;
$font-size-lg:               $font-size-root * 1.25 !default;
$font-size-sm:               $font-size-root * 0.875 !default;
$font-size-xs:               $font-size-root * 0.75 !default;

$font-size-h1:               2rem !default;
$font-size-h2:               1.75rem !default;
$font-size-h3:               1.5rem !default;
$font-size-h4:               2.1rem !default;
$font-size-h5:               1.15rem !default;
$font-size-h6:               1rem !default;

$base-line-height:            1.5;
$base-space-unit:             1.5em;

$hr-border-color:             rgba(0,0,0,.1) !default;
$hr-border-width:             $border-width;

//
// Colors
//

$text-color:       #282828 !default;
$background-color: #1d2021;
$white:            #ffffff;
$primary:          #8ec07c;
$secondary:        #83a598;
$success:          #b8bb26;
$danger:           #d3869b;
$warning:          rgb(127, 194, 18);
$info:             #09ABF6;

// Tables
$table-border-color: #C5E1A5 !default;
$table-striped-color: #C5E1A5 !default;

// Grid Variables
$num-cols: 12 !default;
$gutter-width: 1.5rem !default;
$element-top-margin: $gutter-width/3 !default;
$element-bottom-margin: ($gutter-width*2)/3 !default;

// Media Query Ranges
$small-screen: 1000px !default;
$medium-screen: 1100px !default;
$large-screen: 1200px !default;
$larger-screen: 1600px !default;
